:root {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  --text-light: #ffffff;
  --text-dark: #383838;
  --background-light: #ffffff;
  --background-dark: #383838;
  --accent-color: #953A49;
}

a {
  color: var(--text-light);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-light);
}

p {
  font-size: 1.5em;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --text-light: #383838;
    --text-dark: #ffffff;
    --background-light: #ffffff;
    --background-dark: #383838;
  }
} */
