@font-face {
	font-family: 'Source Sans 3';
  font-optical-sizing: auto;
  font-style: normal;
	src:
	  url('./assets/fonts/SourceSans3-VariableFont_wght.ttf') format('ttf'),
  }

  @font-face {
    font-family: 'Source Sans 3';
    font-optical-sizing: auto;
    font-style: italic;
    src:
      url('./assets/fonts/SourceSans3-Italic-VariableFont_wght.ttf') format('ttf'),
    }

:root {
  font-family: "Source Sans 3", Helvetica, Arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  --text-light: #ffffff;
  --text-dark: #383838;
  --background-light: #ffffff;
  --background-dark: #383838;
  --accent-color: #953A49;
}

a {
  font-size: 2rem;
  color: var(--text-light);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

html {
  scroll-padding-top: 94px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-dark);
  background-color: var(--background-light);
}

p, h1, h2, h3 {
  margin: 0;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

#app {
  margin: 0 auto;
  max-width: 2000px;
  width: 100%;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-light);
    background-color: var(--background-dark);
  }
}
